n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/resume_analyze",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b1a4bee5-f550-4fcd-98c6-111bbb12e278",
      "name": "Webhook",
      "webhookId": "f00f3318-b134-4b83-9944-203b813879ae"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "6a4e9709-58a1-4b54-8fc9-f50492e4d29d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an intelligent resume parser. Analyze the following resume and extract these fields:\n\n- Full Name\n- Email Address\n- Phone Number\n- Skills (as a list)\n- Total Years of Experience\n- Last Job Title\n\nReturn the result in the following JSON format:\n{\n  \"full_name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"skills\": [],\n  \"experience_years\": 0,\n  \"last_job_title\": \"\"\n}\n\nResume Text:\n\"\"\"\n{{ $json[\"text\"] }}\n\"\"\"\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "eff4549f-a16f-4212-8c55-e244e57324b4",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "c6rqHguBVnnJ8Dax",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = items[0].json.message.content;\n\nreturn [\n  {\n    json: {\n      filename: $json.filename || '', // If you have the filename from earlier\n      full_name: content.full_name,\n      email: content.email,\n      phone: content.phone,\n      skills: content.skills, // This is an array\n      experience_years: content.experience_years,\n      last_job_title: content.last_job_title\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "267d4390-e0df-45fa-930d-c6ae06f5c5e2",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "resumes",
          "mode": "list",
          "cachedResultName": "resumes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "experience_years": "={{ $json.experience_years }}",
            "filename": "= {{ $json.filename }}",
            "full_name": "={{ $json.full_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "skills": "={{ $json.skills }}",
            "last_job_title": "={{ $json.last_job_title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_years",
              "displayName": "experience_years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_job_title",
              "displayName": "last_job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uploaded_at",
              "displayName": "uploaded_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        0
      ],
      "id": "b933c015-aebd-4905-a9f6-2b1b48a86f1c",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "Lu6bL9QWqiT9xcwc",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10de7181-9f52-4933-a638-2c5e646259dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e556c81b753a17fa0a7fea4753b4b8d79b0e8a7296f39343bf8009d47c6eda7"
  },
  "id": "nPiOqs4OeJc4gqTd",
  "tags": []
}